/* 
top header - #26292e
bottom header- #e7718b
main - #f4f4f6
main border bottom - #f9e2e8
top footer - #ffffff
bottom footer - #26292e

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Ibarra+Real+Nova&family=Oswald&display=swap" rel="stylesheet">

font-family: 'Butterfly Kids', cursive;
font-family: 'Ibarra Real Nova', serif;
font-family: 'Oswald', sans-serif;



*/

:root {
    --topHeader: #26292e;
    --bottomHeader: #e7718b;
    --main: #f4f4f6;
    --mainBorder: #f9e2e8;
    --topFooter: #ffffff;
    --bottomFooter: #26292e;
    --font: 'Butterfly Kids', cursive;
    --mainFont: 'Mukta', sans-serif;
    /* --grad: radial-gradient(circle at top, #ec8da1, #e7718b);  */
}

*{
    box-sizing: border-box;
}

header {
    padding-top: 10px;
    background-color: var(--topHeader);
    height: 65px;
}

.header-link {
    color: lightgray;
    font-family: var(--font);
}

.nav-item {
    padding: 7px;
}

.section1 {
    background-color: #e7718b;
    /* border: 2px solid red; */
    padding-top: 70px;
    height: 450px;
}

.welcome-text {
    padding-top: 15px;
    width: 65%;
}

h2 {
    margin-bottom: 15px;
}

.btn {
    background-color: #333;
    margin-top: 30px;
    border-top: 1px solid lightgray;
    border-radius: 6px;
    color: #f4f4f6;
    font-family: sans-serif;
    font-size: 15px;
    height: 37px;
} 

.main-img {
    /* border: 2px solid green; */
    width: 500px;
    position: relative;
    bottom: 320px;
    right: 180px;
}


.section2 {
    background-color: #f4f4f6;
    border-bottom: 4px solid var(--mainBorder);
    padding-top: 30px;
    padding-bottom: 30px;
}



.section2 .content-text {
    /* border: 2px solid red; */
    font-size: 14px;
}

.section2 .content {
    /* border: 2px solid blue; */
    padding-top: 20px;
}

.content-header4 {
    /* border: 2px solid red; */
    width: 35%;
    margin-top: 20px;
}

.boxes {
    padding-top: 50px;
}

.black-box {
    border: 6px solid gray;
    width: 320px;
}

.box-1, .box-2 {
    margin-bottom: 50px;
    margin-top: 50px;
}

.box-1, .box-3 {
    margin-right: 50px;
}

.last-content-box {
    /* border: 2px solid blue; */
    position: relative;
    bottom: 450px;
} 

.content-text {
    font-size: 20px;
}

.text-name{
    color: #26292e;
}

/* .section3 {
    height: 650px;
} */


.content-header5 {
    padding-bottom: 10px;
}

.footer {
    background-color: var(--bottomFooter);
    color: #fff;
    padding: 20px 0 35px;
}

.footer-nav-item {
    padding: 7px;
}

@media (max-width: 575.98px) {

    .nav {
        /* border: 2px solid purple; */
        position: relative;
        bottom: 35px;
        left: 185px;
    }

    .welcome-all {
        /* border: 2px solid red; */
        position: relative;
        bottom: 40px;
        left: 65px;
    }

    .main-img{
        /* border: 2px solid blue; */
        visibility: hidden;
    }

    .main-btn {
        /* border: 2px solid red; */
        position: relative;
        bottom: 20px;
    }

    .black-box{
        /* border: 2px solid blue; */
        visibility: hidden;
    }

    .content-header4{
        visibility: hidden;
    }


}

@media (min-width: 575.98px) and (max-width: 768px) {

    .nav{
        /* border: 2px solid red; */
        position: relative;
        bottom: 40px;
        left: 250px;
    }

    .main-img{
        /* border: 2px solid blue; */
        /* visibility: hidden; */
        width: 60%;
        left: 50px;
        
        
    }

    .welcome-all {
        /* border: 2px solid purple; */
        height: 20%;
        font-size: 12px;
        position: relative;
        bottom: 70px;
    }

    .main-btn {
        position: relative;
        bottom: 20px;
    }

    .black-box {
        border: 2px solid red;
        visibility: hidden;
    }

    .content-header4 {
        visibility: hidden;
    }

    .last-content-box{
        /* border: 2px solid purple; */
        width: 100%;
        position: relative;
        bottom: 700px;
        
    }
}

@media (min-width: 768px) and (max-width: 992px) {

    .main-img {
        /* border: 2px solid red; */
        width: 35%;
        position: absolute;
        top: 300px;
        right: 40px;
    }

    .welcome-all{
        /* border: 2px solid blue; */
        width: 100%;
    }

    .last-content-box{
        width: 100%;
        position: relative;
        top: 20px;
        padding-bottom: 20px;
    }

    .content-header4{
        width: 100%;
    }

}

@media (min-width: 992px) and (max-width: 1200px) {

    .last-content-box{
        /* border: 2px solid red; */
        width: 100%;
        position: relative;
        top: 20px;
        padding-bottom: 20px;
    }

    .main-img{
        position: relative;
        left: 10px;
    }

    .main-btn{
        position: relative;
        bottom: 25px;
    }

    .welcome-all{
        width: 70%;
    }
}